<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add Task</h2>
    <form action="/add" method="post">
        <textarea name="task" id="Task" cols="30" rows="10"></textarea>
        <button type="submit">Add</button>
    </form>
    <h2>Task Pending</h2>
    <ul>
    <% tasks.forEach(function(task){ %>
       <li> <%= task.taskDescription%> </li>
    <% }) %>
</ul>
</body>
</html>