<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Ninja's ToDo List</h1>
        <div class="header-button">
            <button id="create-task-btn">Create Task</button>
        </div>
    </header>
    <div class="container">
        <h2>Task Pending</h2>
        <div class="task-list">
            <% tasks.forEach(function(task){ %>
                <div class="task-container">
                    <p><%= task.taskDescription %></p>
                    <form action="/update/<%= task._id %>" method="post">
                        <input type="text" name="taskDescription" value="<%= task.taskDescription %>">
                        <button type="submit">Update</button>
                    </form>
                    <form action="/delete/<%= task._id %>" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            <% }) %>
        </div>
    </div>

    <!-- The Modal -->
    <div id="task-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Create Task</h2>
            <form action="/add" method="post">
                <textarea name="taskDescription" placeholder="Task Description" cols="30" rows="10"></textarea>
                <button type="submit">Create</button>
                <button type="button" id="cancel-btn">Cancel</button>
            </form>
        </div>
    </div>

    <script src="/scripts.js"></script>
</body>
</html>

